/* Write your CSS here */
.container {
  max-height: 1440px;
  max-width: 1500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  height: 300px;
  min-width: 950px;
  border-width: 8px;
  border-color: #000000;
  font-family: 'Roboto';
  border-radius: 10px;
}

.dark-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  height: 300px;
  min-width: 950px;
  font-family: 'Roboto;';
}

.button {
  padding: 10px 20px;
}
